@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: 1.5rem;
  color: #F5F3F4;
}

.material-symbols-rounded.small {
  font-size: 1rem;
}

.material-symbols-rounded.medium-large {
  font-size: 2rem;
}

.material-symbols-rounded.large {
  font-size: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #161A1D;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

@media (max-width: 360px) {
  html {
    font-size: 15px;
  }
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: 1.5rem;
  color: #F5F3F4;
}

.material-symbols-rounded.small {
  font-size: 1rem;
}

.material-symbols-rounded.medium-large {
  font-size: 2rem;
}

.material-symbols-rounded.large {
  font-size: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #161A1D;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

@media (max-width: 360px) {
  html {
    font-size: 15px;
  }
}
section.callendar-modal h1 {
  margin-top: 1rem;
  color: #BA181B;
  text-align: center;
}
section.callendar-modal p.description {
  text-align: center;
  margin-top: 0.25rem;
  font-size: 1.25rem;
}
section.callendar-modal div.callendar {
  margin: 0 auto;
  margin-top: 1.5rem;
}
section.callendar-modal button.callendar-cancel-btn {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: #B1A7A6;
  font-size: 2rem;
  font-weight: 500;
  color: #FFFFFF;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 2.5px 1px rgba(0, 0, 0, 0.25);
}

div.callendar {
  grid-area: callendar;
  display: flex;
  align-self: flex-start;
  justify-self: center;
  flex-direction: column;
  width: 320px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
div.callendar section.month-year {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  flex-basis: 70px;
  background-color: #A4161A;
  color: #F5F3F4;
  text-align: center;
}
div.callendar section.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50;
  background-color: #F5F3F4;
  padding: 0 8px;
}
div.callendar section.days div.day {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  height: 50px;
}
div.callendar section.days div.day:hover {
  cursor: pointer;
}
div.callendar section.days div.day.desc {
  font-size: 1rem;
  color: #D3D3D3;
}
div.callendar section.days div.day.desc:hover {
  cursor: default;
}
div.callendar section.days div.day.sun {
  color: #BA181B;
}
div.callendar section.days div.day.gray {
  color: #B1A7A6;
}
div.callendar section.days div.day.today {
  z-index: 1;
  color: #F5F3F4;
  position: relative;
  transform-style: preserve-3d;
}
div.callendar section.days div.day.today::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background-color: #BA181B;
  border-radius: 50%;
  transform: translateZ(-1px) translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

section.date {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.date h1 {
  color: #161A1D;
}
section.date p {
  font-size: 1.4rem;
}
section.date section.date-nav {
  display: flex;
  flex-direction: row;
}
section.date section.date-nav button {
  background-color: #F5F3F4;
  border-radius: 8px;
  color: #BA181B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  font-size: 1.25rem;
  margin-right: 1rem;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}
section.date section.date-nav button span {
  color: #BA181B;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: 1.5rem;
  color: #F5F3F4;
}

.material-symbols-rounded.small {
  font-size: 1rem;
}

.material-symbols-rounded.medium-large {
  font-size: 2rem;
}

.material-symbols-rounded.large {
  font-size: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #161A1D;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

@media (max-width: 360px) {
  html {
    font-size: 15px;
  }
}
section.tasks {
  position: relative;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 1rem;
}
section.tasks p.placeholder-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #B1A7A6;
  font-size: 2rem;
}
section.tasks div.task {
  display: flex;
  flex-direction: row;
  background-color: #F5F3F4;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  max-width: 720px;
  box-shadow: 0px 0px 8.08989px rgba(0, 0, 0, 0.25);
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  overflow: hidden;
}
section.tasks div.task .left-check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BA181B;
  flex-shrink: 0;
}
section.tasks div.task .left-check div.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
  background-color: #FFFFFF;
}
section.tasks div.task .left-check div.checkbox:hover {
  cursor: pointer;
}
section.tasks div.task .left-check div.checkbox span {
  display: none;
  color: #BA181B;
}
section.tasks div.task .left-check div.checkbox.active span {
  display: block;
}
section.tasks div.task .text {
  flex-grow: 1;
}
section.tasks div.task .text p.title {
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  color: #A4161A;
  margin-left: 1rem;
}
section.tasks div.task .text p.description {
  margin: 1.5rem 0 1.5rem 1rem;
  display: none;
}
section.tasks div.task .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}
section.tasks div.task .buttons .extend-task-btn span {
  color: #BA181B;
}
section.tasks div.task .buttons .delete-task-btn {
  display: none;
}
section.tasks div.task.extended {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
section.tasks div.task.extended .text p.description {
  display: block;
}
section.tasks div.task.extended .buttons .delete-task-btn {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
  background-color: #BA181B;
}
section.tasks div.task.done {
  background-color: #B1A7A6;
}
section.tasks div.task.done p.title {
  text-decoration: line-through;
}

section.tasks::-webkit-scrollbar {
  display: none;
}

main.mobile section.tasks {
  flex-grow: 1;
  overflow: scroll;
}
main.mobile section.tasks div.task {
  min-height: 40px;
}
main.mobile section.tasks div.task .left-check {
  width: 40px;
}
main.mobile section.tasks div.task .text .title {
  min-height: 40px;
  font-size: 1.5rem;
}
main.mobile section.tasks div.task .buttons .extend-task-btn {
  height: 40px;
}

main.desktop section.tasks {
  margin-bottom: 2rem;
}
main.desktop section.tasks div.task {
  min-height: 80px;
}
main.desktop section.tasks div.task .left-check {
  width: 80px;
}
main.desktop section.tasks div.task .left-check .checkbox {
  height: 1.5rem;
  width: 1.5rem;
}
main.desktop section.tasks div.task .left-check .checkbox span {
  font-size: 1.5rem;
}
main.desktop section.tasks div.task .text .title {
  min-height: 80px;
}
main.desktop section.tasks div.task .buttons .extend-task-btn {
  height: 80px;
}

body:hover {
  cursor: default;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(111.16deg, #660708 -6.65%, #E5383B 99.11%, #E5383B 99.11%);
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
button:hover {
  cursor: pointer;
}

.modal {
  display: none;
}

.modal.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #FFFFFF;
}

main.desktop + .modal.active {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 65vh;
  min-height: 500px;
  max-width: 640px;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding-top: 1rem;
}

section.add-task-modal {
  padding: 0 1rem;
}
section.add-task-modal h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #BA181B;
  text-align: center;
}
section.add-task-modal section.inputs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 50%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
section.add-task-modal section.inputs input.task-name {
  border: none;
  height: 3rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 2.5022px 0.625551px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  padding-left: 1rem;
}
section.add-task-modal section.inputs textarea.task-desc {
  flex-grow: 1;
  border: none;
  box-shadow: 0px 0px 2.5022px 0.625551px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 1rem;
}
section.add-task-modal section.inputs textarea:focus, section.add-task-modal section.inputs input:focus {
  outline-color: #BA181B;
}
section.add-task-modal div.text {
  text-align: center;
}
section.add-task-modal div.text p {
  font-size: 1.5rem;
}
section.add-task-modal div.text p.date {
  color: #BA181B;
}
section.add-task-modal section.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section.add-task-modal section.buttons button {
  font-size: 1.5rem;
  border-radius: 0.4rem;
  color: #F5F3F4;
  margin: 1rem 2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
section.add-task-modal section.buttons button.cancel-task-btn {
  background-color: #B1A7A6;
}
section.add-task-modal section.buttons button.confirm-task-btn {
  background-color: #BA181B;
}

main.mobile .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #FFFFFF;
}
main.mobile .container section.date {
  flex-basis: 160px;
}
main.mobile .container aside {
  flex-basis: 60px;
  background-color: #BA181B;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

main.desktop .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  max-width: 1440px;
  max-height: 830px;
  display: grid;
  grid-template-columns: 80px 1fr 400px;
  grid-template-rows: 160px 1fr;
  grid-template-areas: "aside date ." "aside tasks callendar";
  background: rgba(245, 243, 244, 0.9);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
}
main.desktop .container aside {
  grid-area: aside;
  background-color: #BA181B;
}
main.desktop .container section.date {
  grid-area: date;
}
main.desktop .container section.tasks {
  grid-area: tasks;
}
main.desktop .container button.add-task-btn {
  position: absolute;
  bottom: 2rem;
  left: 7rem;
  background-color: #BA181B;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

main.past .container section.date {
  color: gray;
}
main.past .container section.date h1 {
  color: #B1A7A6;
}
main.past .container section.tasks p.placeholder-msg {
  display: none;
}
main.past button.add-task-btn {
  display: none;
}