* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(111.16deg, #660708 -6.65%, #E5383B 99.11%, #E5383B 99.11%);
}

main.desktop div.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 60px 1fr 360px;
  grid-template-rows: 140px 1fr;
  grid-template-areas: "aside date ." "aside tasks callendar";
}
main.desktop div.container aside {
  grid-area: aside;
  background-color: red;
}
main.desktop div.container section.date {
  grid-area: date;
  background-color: beige;
}
main.desktop div.container section.tasks {
  grid-area: tasks;
  background-color: antiquewhite;
}
main.desktop div.container div.callendar {
  grid-area: callendar;
  background-color: azure;
}
main.desktop div.container button.add-task-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

main.mobile div.container {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
main.mobile section.date {
  flex-basis: 140px;
  background-color: beige;
}
main.mobile section.tasks {
  flex-grow: 1;
  background-color: antiquewhite;
}
main.mobile aside {
  flex-basis: 60px;
  background-color: red;
  align-self: stretch;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal.active {
  display: block;
}