@import 'var.scss';
@import 'callendar.scss';
@import 'date.scss';

// Common
main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $gradient1;
}
button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.modal {   
    display: none;
}
.modal.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: $primary1;
    
}
section.tasks {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 1rem;

    div.task {
        display: flex;
        flex-direction: row; 
        background-color: $primary2;
        border-radius: 0.75rem;
        margin-bottom: 0.5rem;
        max-width: 720px;
        box-shadow: 0px 0px 8.08989px rgba(0, 0, 0, 0.25);
        overflow: hidden;


        .left-check {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $secondary2;
            flex-shrink: 0;

            div.checkbox {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1rem;
                width: 1rem;
                border-radius: 0.25rem;
                background-color: $primary1;
                

                span {
                    display: none;
                    color: $secondary2;
                }
            }
        }
        .text {
            flex-grow: 1;
            p.title {
                display: flex;
                align-items: center;
                font-size: 2rem;
                align-self: center;
                font-weight: bold;
                color: $secondary3;
                margin-left: 1rem;
            }
            p.description {
                margin-left: 1rem;
                margin-bottom: 1rem;
                display: none;
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 1rem;

            .extend-task-btn {
                span {
                    color: $secondary2;
                }
            }
            .delete-task-btn {
                display: none;
            }
        }
    }
    div.task.extended {
        height: fit-content;
        .text {
            p.title {
                height: 30%;
            }
            p.description {
                display: block;
                
            }
        }
        .buttons {
            
            .delete-task-btn {
                display: block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin-bottom: 1rem;
                background-color: $secondary2;
            }
        }
    }
}

// Mobile
main.mobile {
    .container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        background-color: $primary1;

        section.date {
            flex-basis: 160px;
        }
        section.tasks {
            flex-grow: 1;

            div.task {
                min-height: 40px;

                .left-check {
                    width: 40px;
                }
                .text {
                    .title {
                        height: 40px;
                        font-size: 1.5rem;
                    }
                }
                .buttons {
                    .extend-task-btn {
                        height: 40px;
                    }
                }
            }
        }
        aside {
            flex-basis: 60px;
            background-color: $secondary2;
            align-self: stretch;
        }
    }
}

// Desktop
main.desktop {
    .container {
        @include centerAbsolute;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        max-width: 1440px;
        max-height: 830px;
        
        display: grid;
        grid-template-columns: 80px 1fr 400px;
        grid-template-rows: 160px 1fr;
        grid-template-areas: 
        "aside date ."
        "aside tasks callendar";

        background: rgba(245, 243, 244, 0.9);
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        overflow: hidden;

        aside {
            grid-area: aside;
            background-color: $secondary2;
        }
        section.date {
            grid-area: date;
        }
        section.tasks {
            grid-area: tasks;
            div.task {
                min-height: 80px;

                .left-check {
                    width: 80px;
                    .checkbox {
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }
                .text {
                    .title {
                        height: 80px;
                    }
                }
                .buttons {
                    .extend-task-btn {
                        height: 80px;
                    }
                    
                }
            }
        }
        
        button.add-task-btn {
            position: absolute;
            bottom: 50px;
            right: 50px;
        }
    }
}
