@import 'var.scss';
@import 'callendar.scss';
@import 'date.scss';
@import 'task.scss';

// Common
main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $gradient1;
}
button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.modal {   
    display: none;
}
.modal.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: $primary1;
    
}
main.desktop + .modal.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 65vh;
    min-height: 500px;
    max-width: 640px;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding-top: 1rem;
}

section.add-task-modal {
    padding: 0 1rem;
    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $secondary2;
        text-align: center;
    }
    section.inputs {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 50%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;

        input.task-name {
            border: none;
            height: 3rem;
            margin-bottom: 1rem;
            box-shadow: 0px 0px 2.5022px 0.625551px rgba(0, 0, 0, 0.25);
            border-radius: 0.5rem;
            font-family: 'Inter', sans-serif;
            font-size: 1.4rem;
            padding-left: 1rem;
        }
        textarea.task-desc {
            flex-grow: 1;
            border: none;
            box-shadow: 0px 0px 2.5022px 0.625551px rgba(0, 0, 0, 0.25);
            border-radius: 0.5rem;
            font-family: 'Inter', sans-serif;
            font-size: 1rem;
            padding: 1rem;
        }
        textarea:focus, input:focus {
            outline-color: $secondary2;
        }
    }
    div.text {
        text-align: center;
        p {
            font-size: 1.5rem;
        }
        p.date {
            color: $secondary2;
        }
    }
    section.buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        button {
            font-size: 1.5rem;
            border-radius: 0.4rem;
            color: $primary2;
            margin: 1rem 2rem;
            padding: 0.5rem 1rem;
            box-shadow: (0px 0px 4px rgba(0, 0, 0, 0.25));
        }
        button.cancel-task-btn {
            background-color: $primary4;
        }
        button.confirm-task-btn {
            background-color: $secondary2;
        }
    }
}

// Mobile
main.mobile {
    .container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        background-color: $primary1;

        section.date {
            flex-basis: 160px;
        }
        
        aside {
            flex-basis: 60px;
            background-color: $secondary2;
            align-self: stretch;
            display: flex;
            justify-content: space-between;
            padding: 0 2rem;
        }
    }
}

// Desktop
main.desktop {
    .container {
        @include centerAbsolute;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        max-width: 1440px;
        max-height: 830px;
        
        display: grid;
        grid-template-columns: 80px 1fr 400px;
        grid-template-rows: 160px 1fr;
        grid-template-areas: 
        "aside date ."
        "aside tasks callendar";

        background: rgba(245, 243, 244, 0.9);
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        overflow: hidden;

        aside {
            grid-area: aside;
            background-color: $secondary2;
        }
        section.date {
            grid-area: date;
        }
        section.tasks {
            grid-area: tasks;
           
        }
        button.add-task-btn {
            position: absolute;
            bottom: 2rem;
            left: 7rem;
            background-color: $secondary2;
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }
    }
}
main.past {
    .container {
        section.date {
            color: gray;
            h1 {
                color: $primary4;
            }
        }
        section.tasks {
            p.placeholder-msg {
                display: none;
            }
        }
    }
    button.add-task-btn {
        display: none;
    }
}
