@import "var.scss";
main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(111.16deg, #660708 -6.65%, #E5383B 99.11%, #E5383B 99.11%);
}

main.desktop {
    div.container {
        width: 100%;
        height: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 60px 1fr 360px;
        grid-template-rows: 140px 1fr;
        grid-template-areas: 
        "aside date ."
        "aside tasks callendar";

        aside {
            grid-area: aside;
            background-color: red;
        }
        section.date {
            grid-area: date;
            background-color: beige;
        }
        section.tasks {
            grid-area: tasks;
            background-color: antiquewhite;
        }
        
        button.add-task-btn {
            position: absolute;
            bottom: 50px;
            right: 50px;
        }
    }
}

main.mobile {
    div.container {
        background-color: white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
    section.date {
        flex-basis: 140px;
        background-color: beige;
    }
    section.tasks {
        flex-grow: 1;
        background-color: antiquewhite;
    }
    aside {
        flex-basis: 60px;
        background-color: red;
        align-self: stretch;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color:aquamarine;
}
.modal.active {
    display: block;
}
.callendar {
    overflow: hidden;
}
main {
    div.task {
        button.delete-task-btn {
            display: none;
        }
        .description {
            display: none;
        }
    }
    div.task.extended {
        button.delete-task-btn {
            display: block;
        }
        .description {
            display: block;
        }
    }
    
}
.checkbox {
    background-color: gray;
}
.checkbox.active {
    background-color: green;
}
div.callendar {
    grid-area: callendar;
    display: flex;
    background-color: azure;
    section.days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
}